<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.soco.learnandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        5
        <activity android:name=".QuizAnsweringPage" />
        <activity android:name=".QuizHomePage" />
        <activity android:name=".ActivitiesLesson_1_v2"/>
        <activity android:name=".ActivitiesLesson_2_v2"/>
        <activity android:name=".ActivitiesLesson_3_v2"/>
        <activity android:name=".ActivitiesLesson_4_v2"/>
        <activity android:name=".ActivitiesLesson_5_v2"></activity>
    </application>

</manifest>